.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;

  + .inputContainer {
    margin-left: 1rem;
  }

  .inputWrapper {
    position: relative;

    .trailingIcon {
      position: absolute;
      right: 1rem;
      top: 0.7rem;
    }
  }

  input {
    border: 1px solid var(--color-input-border);
    border-radius: 0.5rem;
    font-size: 1rem;
    height: 3rem;
    padding-inline: 1rem;
    width: 100%;

    &:focus {
      border: 1px solid var(--color-input-border--focus);
      box-shadow: 0 0 0 2px var(--color-surface-primary),
                  0 0 0 4px var(--color-input-border--focus);
    }

    &[aria-invalid='true'] {
      border: 1px solid var(--color-input-border--alert);

      &:focus {
        border: 1px solid var(--color-input-border);
      }
    }
  }

  label {
    color: var(--color-text-secondary);
  }

  .error-message {
    color: var(--color-text--alert);
    font-size: var(--font-size-body-sm);
    line-height: 1.43;
  }
}
