:root {
  --font-default: Arial, sans-serif;
  --font-decorative: Georgia, serif;
  --font-size-display: 1.75rem;
  --font-size-header: 1.25rem;
  --font-size-body-reg: 1rem;
  --font-size-body-sm: 0.875rem;
}
